<h1>Ksenia</h1>
<a href="/">Go back home</a>
<a href="/cat">Visit the cat-page</a>
<a href="/index">See the index</a>
<a href="/players">Our players</a>
<a href="/teams">Teams</a>
<br>
<img src="https://media.giphy.com/media/VRhsYYBw8AE36/giphy.gif">