<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cat</title>
  <link rel="stylesheet" href="/stylesheets.style.css">
</head>
  <body>
    <h1>Cat</h1>
    <p>This is my second route</p>
    <!-- Linking the cat-page to the home-page -->
    <a href="/">Back to Home</a>
    <a href="/index">See hbs Page</a>
    <a href="/about">Visit the about-page</a>
    <img src="/images/cool-cat.jpg" alt="cool-cat">
  </body>
</html>